{
    "ir_bot_token": "xxx",
    "ir_admin_chat_id": 12345678,
    "device": [
        {
            "name": "xxx",
            "ir_mqtthost": "xxx",
            "ir_mqttport": 1883,
            "ir_sub_topic": "xxx",
            "ir_pub_topic": "xxx",
            "ir_username": "xxx",
            "ir_password": "xxx"
        },
        {
            "name": "home",
            "ir_mqtthost": "xxx",
            "ir_mqttport": 1883,
            "ir_sub_topic": "xxx",
            "ir_pub_topic": "x",
            "ir_username": "xxx",
            "ir_password": "xxx"
        }
    ]
}